.wavy-jumbotron {
    background-image: linear-gradient(45deg, #f06, #9f6, #06f, #f06);
    background-size: 200% 200%;
    animation: wave 5s linear infinite;
    margin-top: 20px;
    padding-top: 120px;
    padding-bottom: 120px;
    color: #fff;
    text-align: center;
}

@keyframes wave {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    color: #000;
}

.navbar {
    background-color: #e8c3a8;
    position: relative;
    color: #000;
    padding: 20px 0;
    text-align: center;
}

.footer {
    background-color: #e8c3a8;
    color: #000;
    padding: 20px 0;
    text-align: center;
}

.useful-info-section {
    background-color: #e8c3a8;
}

.container.mt-4 {
    padding: 20px;
    color: #000;
}


.clickable-card {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    height: 100%;
}

.clickable-card:hover {
    transform: scale(1.05);
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 200px; /* Ensure the card body takes up the full card height */
}

.card-title {
    margin: 0;
}

.alert-card {
    transition: transform 0.2s ease-in-out;
    height: 200px; /* Set a fixed height for the card */
    color: #fff; /* White text color */
}

.alert-card:hover {
    transform: scale(1.05);
}

.white-background-card {
    transition: transform 0.2s ease-in-out;
    height: 200px; /* Set a fixed height for the card */
}

.white-background-card:hover {
    transform: scale(1.05);
}
