/* Define color variables */
:root {
    --primary-text-color: #fff;
    --secondary-background-color: #196CA2;
}

/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
}

/* Navbar */
.navbar {
    background-color: var(--secondary-background-color);
    position: relative;
    color: var(--primary-text-color) !important;
    padding: 20px 0;
    text-align: center;
}

.nav-item .nav-link {
    color: var(--primary-text-color);
}

/* Footer */
.footer {
    background-color: var(--secondary-background-color);
    color: var(--primary-text-color);
    padding: 20px 0;
    text-align: center;
}

/* Useful Info Section */
.useful-info-section {
    background-color: var(--secondary-background-color);
}

/* Container with Margin Top */
.container.mt-4 {
    padding: 20px;
    color: var(--primary-text-color);
}

/* Wavy Jumbotron */
.wavy-jumbotron {
    background-image: linear-gradient(45deg, #f06, #9f6, #06f, #f06);
    background-size: 200% 200%;
    animation: wave 5s linear infinite;
    margin-top: 20px;
    padding-top: 120px;
    padding-bottom: 120px;
    color: #fff;
    text-align: center;
}

/* Keyframe Animation for Wavy Jumbotron */
@keyframes wave {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.mt-2 {
    color: var(--primary-text-color);
    background-color: #154734;
    font-size: 20px;
    font-weight: bold;
    padding: 10px
}

#recent-disasters-heading{
    color: var(--primary-text-color);
}

/* Clickable Card */
.clickable-card {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    height: 100%;
}

.clickable-card:hover {
    transform: scale(1.05);
}

/* Card Body */
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 200px; /* Ensure the card body takes up the full card height */
}

/* Card Title */
.card-title {
    margin: 0;
}

/* Alert Card */
.alert-card {
    transition: transform 0.2s ease-in-out;
    height: 200px; 
    color: #fff; 
}

.home-card {
    text-decoration: none;
}

.alert-card:hover {
    transform: scale(1.05);
}

.white-background-card {
    transition: transform 0.2s ease-in-out;
    height: 200px;
}

.white-background-card:hover {
    transform: scale(1.05);
}

.rounded-circle {
    background-color: #154734;
}

.rounded-circle-image {
    width: 100%; /* Set the width to 100% to cover the entire circle */
    height: 100%; /* Set the height to 100% to cover the entire circle */
    object-fit: cover; /* Ensure the image covers the entire space without distortion */
    border-radius: 50%; /* Apply a circular mask */
}

.rounded-circle-link {
    text-decoration: none;
    margin:20px; 
}

.rounded-circle-link:hover .rounded-circle {
    transform: scale(1.1); 
    transition: transform 0.3s ease; }

.rounded-circle-link:hover .mt-2 {
    color: #007bff; 
    transition: color 0.3s ease;
}

.list-group {
    padding: 20px;
}
